#content{
    width: 100%;
    flex: 1;
    position: relative;
    border-top: #5CB700 solid 1px;
}
#content-import{
    height: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60px;
    font-size: 14px;
    color: #c3c3c3;
}
#content-text{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 90px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.content-text-1{
    height: 50px;
    width: 30%;
    font-size: 15px;
    color: limegreen;
    text-align: center;
    margin-top: 10px;
    font-weight: 540;
}
